{
	email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
	encode zstd gzip
	reverse_proxy frontend:80
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Permissions-Policy "geolocation=(self), camera=(), microphone=()"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Content-Type-Options "nosniff"
		-Server
	}
}

{$API_DOMAIN} {
	encode zstd gzip
	reverse_proxy backend:3000
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		-Server
	}
}
